<div id="loader">
    <img src="img/metro-loader.gif" />
</div>
<div class="example" style="margin-left: 25%; opacity: 0;" ng-init="InitGroupEdit()">
    <form id="createGroupForm" name="createGroupForm" novalidate ng-submit="createGroupSubmit()">
        <fieldset>
            <legend>
                <h3 class="frame-title">Create Group</h3>
            </legend>
            <label for="groupParent">Group Directory</label>
            <div class="input-control text" data-role="input-control" ng-class="{'error-state': createGroupForm.groupParent.$invalid}">
                <input class="select-search" id="groupParent" name="groupParent" ng-model="group.groupParent" required />
                <span class="validation" ng-show="createGroupForm.groupParent.$error.required">This field is required</span>
                <span></span>
            </div>
            <label for="groupName">Group Name</label>
            <div class="input-control text" data-role="input-control" ng-class="{'error-state': createGroupForm.groupName.$invalid}">
                <input type="text" placeholder="Group Name" id="groupName" name="groupName" ng-model="group.groupName" required>
                <button class="btn-clear" tabindex="-1" type="button"></button>
                <span class="validation" ng-show="createGroupForm.groupName.$error.required">This field is required</span>
            </div>
            <div>
                <button type="submit" class="btn btn-lead full" ng-disabled="!createGroupForm.$valid">Save Changes</button>
            </div>
        </fieldset>
    </form>
</div>
