<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="css/metro-bootstrap.css" rel="stylesheet">
    <link href="css/iconFont.css" rel="stylesheet" />
    <link href="css/jquery.splitter.css" rel="stylesheet" />
    <link href="css/primate.css" rel="stylesheet" />
</head>
<body>
    <h1>View Group</h1>
</body>
</html>
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="js/jquery.widget.min.js"></script>
<script src="js/metro.min.js"></script>
<script src="js/jquery.splitter.js"></script>
<script src="js/jquery.contextMenu.js"></script>
<script src="js/jquery.spinner.min.js"></script>
<script src="js/primate.js"></script>
<script src="js/angular/controllers/mainController.js"></script>