<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        ul {
            list-style: circle;
        }

        li {
            margin-left: 20px;
        }

        #left-side, #mid-side, #right-side {
            width: 300px;
            float: left;
            min-height: 300px;
        }

        #mid-side {
            background: grey;
        }

        #left-side {
            background: bisque;
        }

        #right-side {
            background: forestgreen;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="LeftCtr">
        <div id="left-side">
            <ul>
                <li ng-repeat="data in tree" ng-click="ChooseRoot(data)">{{data.roleName}}</li>
            </ul>
        </div>
        <div id="mid-side">
            <div ng-repeat="breadcrumb in breadcrumbs"><a href="#" ng-click="BreadcrumbRedirect(breadcrumb)">{{breadcrumb.roleName}}</a></div>
            <ul>
                <li ng-repeat="hahaha in aaaa"><span ng-click="GetIn(hahaha)">{{hahaha.roleName}}</span><a ng-hide="IsCurrentNodeHasParent(hahaha)" ng-click="Back(hahaha)">back</a></li>
            </ul>
        </div>
        <div id="right-side"></div>
        <div style="clear:both;"></div>
    </div>
</body>
<script>
    var treeJson = [
            {
                "roleName": "User", "roleId": "role1", "children": [
                    { "roleName": "subUser1", "roleId": "role11", "collapsed": true, "children": [] },
                    {
                        "roleName": "subUser2", "roleId": "role12", "collapsed": true, "children": [
                            {
                                "roleName": "subUser2-1", "roleId": "role121", "children": [
                                    { "roleName": "subUser2-1-1", "roleId": "role1211", "children": [] },
                                    { "roleName": "subUser2-1-2", "roleId": "role1212", "children": [] }
                                ]
                            }
                        ]
                    }
                ]
            },

            {
                "roleName": "Admin", "roleId": "role2", "children": [
                    { "roleName": "subAdmin1", "roleId": "role11", "collapsed": true, "children": [] },
                    {
                        "roleName": "subAdmin2", "roleId": "role12", "children": [
                            {
                                "roleName": "subAdmin2-1", "roleId": "role121", "children": [
                                    { "roleName": "subAdmin2-1-1", "roleId": "role1211", "children": [] },
                                    { "roleName": "subAdmin2-1-2", "roleId": "role1212", "children": [] }
                                ]
                            }
                        ]
                    }
                ]
            },

            {
                "roleName": "Guest", "roleId": "role3", "children": [
                    { "roleName": "subGuest1", "roleId": "role11", "children": [] },
                    {
                        "roleName": "subGuest2", "roleId": "role12", "collapsed": true, "children": [
                            {
                                "roleName": "subGuest2-1", "roleId": "role121", "children": [
                                    { "roleName": "subGuest2-1-1", "roleId": "role1211", "children": [] },
                                    { "roleName": "subGuest2-1-2", "roleId": "role1212", "children": [] }
                                ]
                            }
                        ]
                    }
                ]
            }
    ];
    var testNode = treeJson[0].children[1];//subUser2
</script>
<script>

    var myApp = angular.module("myApp", []);
    myApp.controller("LeftCtr", function ($scope) {


        $scope.ChooseRoot = function (obj) {
            AddParentToEachChild(obj);
            $scope.breadcrumbs = [];
            $scope.aaaa = obj.children;
            $scope.breadcrumbs.push(obj);
        };
        $scope.tree = treeJson;
        $scope.GetIn = function (obj) {
            AddParentToEachChild(obj);
            $scope.aaaa = obj.children;
            console.log(obj.roleName);
            $scope.breadcrumbs.push(obj);
            console.log($scope.breadcrumbs);
        };

        $scope.Back = function (obj) {
            $scope.aaaa = obj.parent.parent.children;
            $scope.breadcrumbs.splice($scope.breadcrumbs.length - 1, 1);
            console.log($scope.aaaa);
        };

        $scope.BreadcrumbRedirect = function (obj) {
            $scope.aaaa = obj.children;
            for (var a = 0; a < $scope.breadcrumbs.length; a++) {
                if ($scope.breadcrumbs[a] == obj) {
                    $scope.breadcrumbs.splice(a + 1, $scope.breadcrumbs.length - a);
                }
            }

        };

        var AddParentToEachChild = function (obj) {
            for (var a = 0; a < obj.children.length; a++) {
                obj.children[a].parent = obj;
            }
        };

        $scope.IsCurrentNodeHasParent = function (obj) {
            return typeof (obj.parent.parent) == "undefined";
        };
    });
    list2 =
     [
        {
            "roleName": "User", "roleId": "role1", "children": [
            { "roleName": "subUser1", "roleId": "role11", "collapsed": true, "children": [] },
            {
                "roleName": "subUser2", "roleId": "role12", "collapsed": true, "children": [
                {
                    "roleName": "subUser2-1", "roleId": "role121", "children": [
                    { "roleName": "subUser2-1-1", "roleId": "role1211", "children": [] },
                    { "roleName": "subUser2-1-2", "roleId": "role1212", "children": [] }
                    ]
                }
                ]
            }
            ]
        },

        {
            "roleName": "Admin", "roleId": "role2", "children": [
            { "roleName": "subAdmin1", "roleId": "role11", "collapsed": true, "children": [] },
            {
                "roleName": "subAdmin2", "roleId": "role12", "children": [
                {
                    "roleName": "subAdmin2-1", "roleId": "role121", "children": [
                    { "roleName": "subAdmin2-1-1", "roleId": "role1211", "children": [] },
                    { "roleName": "subAdmin2-1-2", "roleId": "role1212", "children": [] }
                    ]
                }
                ]
            }
            ]
        },

        {
            "roleName": "Guest", "roleId": "role3", "children": [
            { "roleName": "subGuest1", "roleId": "role11", "children": [] },
            {
                "roleName": "subGuest2", "roleId": "role12", "collapsed": true, "children": [
                {
                    "roleName": "subGuest2-1", "roleId": "role121", "children": [
                    { "roleName": "subGuest2-1-1", "roleId": "role1211", "children": [] },
                    { "roleName": "subGuest2-1-2", "roleId": "role1212", "children": [] }
                    ]
                }
                ]
            }
            ]
        }
     ];
</script>
</html>

