
<!DOCTYPE html>

<html>
  <head>
    <title>Password Primate</title>
    <link href="css/metro-bootstrap.css" rel="stylesheet">
    <link href="css/iconFont.css" rel="stylesheet" />
    <link href="css/jquery.splitter.css" rel="stylesheet" />
    <link href="css/primate.css" rel="stylesheet" />
</head>
  <body>

    
  <div>
    <h1>Password Primate</h1>
     <form class="form-signin" role="form" action="/login" method="post">
      <fieldset>
        <div>
      </fieldset>
      <p>
        <a href="/">New Database</a>
      </p>
    </form> <!-- /commonForm -->
  </div> <!-- /session -->

  </body>
</html>
