<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="css/metro-bootstrap.css" rel="stylesheet">
    <link href="css/iconFont.css" rel="stylesheet" />
    <link href="css/jquery.splitter.css" rel="stylesheet" />
    <link href="css/primate.css" rel="stylesheet" />
    <style>

    </style>
</head>
<body>
<div id="loader-wrapper">
    <div class="loader">
        <h1>Asterix Solutions</h1>
        <div class="load-icon">
            <img src="img/loader24.gif" />
        </div>
        <div class="load-status">
            <span>Loading...</span>
        </div>
    </div>
</div>
</body>
</html>
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/jquery.widget.min.js"></script>
<script src="js/metro.min.js"></script>
<script src="js/jquery.splitter-0.14.0.js"></script>
<script src="js/jquery.contextMenu.js"></script>
<script src="js/Angular/main-ctrl.js"></script>
<script src="js/primate.js"></script>
