<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Password Primate - Login</title>
    <link href="css/metro-bootstrap.css" rel="stylesheet">
    <link href="css/iconFont.css" rel="stylesheet" />
    <link href="css/jquery.splitter.css" rel="stylesheet" />
    <link href="css/primate.css" rel="stylesheet" />
</head>
<body ng-app="myapp" ng-controller="Controller">
    <div class="input-control text" data-role="input-control">
        <input type="text" placeholder="username">
    </div>
    <div class="input-control text" data-role="input-control">
        <input type="text" placeholder="password">
    </div>
    <div class="input-control text" data-role="input-control">
        <input type="button" value="Submit" ng-click="SubmitForm()" />
    </div>
    <div>
        $location.protocol() = <span ng-bind="$location.protocol()"></span> <br>
        $location.host() = <span ng-bind="$location.host()"></span> <br>
        $location.port() = <span ng-bind="$location.port()"></span> <br>
        $location.path() = <span ng-bind="$location.path()"></span> <br>
        $location.search() = <span ng-bind="$location.search()"></span> <br>
        $location.hash() = <span ng-bind="$location.hash()"></span> <br>
    </div>
    <div my-customer></div>
</body>
</html>
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/jquery.widget.min.js"></script>
<script src="js/metro.min.js"></script>
<script src="js/jquery.splitter-0.14.0.js"></script>
<script src="js/jquery.contextMenu.js"></script>
<script src="js/Angular/DashboardCtr.js"></script>
<!--<script src="js/loginCtr.js"></script>-->
<script src="js/primate.js"></script>
<script>
    var myapp = angular.module('myapp', []);
    myapp.controller('Controller', [
        '$scope', '$location', function ($scope, $location, $routeParams) {

            $scope.$location = $location;

            $scope.customer = {
                name: 'Naomi',
                address: '1600 Amphitheatre'
            };
            $scope.SubmitForm = function () {
                console.log($location.path("loading-page.html"));
            };
        }
    ]);

    myapp.directive('myCustomer', function () {
        return {
            templateUrl: 'loading-page.html'
        };
    });

</script>
