@import url('font-style.css');
/*a, a span, button {
    cursor: pointer !important;
}*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.pos-r {
    position: relative;
}

.margin-top0 {
    margin-top: 0 !important;
}

.metro p.margin-top-5 {
    margin-top: -5px !important;
}

.margin-top10 {
    margin-top: 10px !important;
}

.dis-block {
    display: block;
}

.metro h5 {
    font-size: 1.6rem;
    margin: 18px 0;
}

.ofh {
    overflow: hidden;
}

.valid-blk {
    display: block;
    text-align: left;
}

/*Login*/
.logo p {
    color: #1ba1e2;
    margin: 0;
    /*margin-bottom: 5px;*/
    margin-top: 15px;
}

.metro .loginform p.db-line {
    text-align: right;
    width: 343px;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

:focus {
    outline: 0;
}

.logo {
    position: absolute;
    max-width: 300px;
    margin-left: -300px;
    margin-top: -100px;
}

.loginform {
    width: 343px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -160px;
}

    .loginform .login {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 5px;
        border-top: solid 1px #EBEBEB;
        border-bottom: solid 1px #EBEBEB;
    }

    .loginform ul {
        padding: 0;
        margin: 0;
    }

    .loginform li {
        display: inline;
        float: left;
    }

    .loginform input:not([type=submit]) {
        padding: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    }

    /*.loginform .inputbox {
        width: 250px;
        height: 23px;
    }*/

    .loginform button,
    .loginform input,
    .loginform select,
    .loginform textarea {
        font-size: 100%; /* 1 */
        margin: 0; /* 2 */
        vertical-align: baseline; /* 3 */
        *vertical-align: middle; /* 3 */
    }

        .loginform button,
        .loginform html input[type="button"], /* 1 */
        .loginform input[type="reset"],
        .loginform input[type="submit"] {
            -webkit-appearance: button; /* 2 */
            cursor: pointer; /* 3 */
            *overflow: visible; /* 4 */
        }

            .loginform button[disabled],
            .loginform input[disabled] {
                cursor: default;
            }

.metro .login {
    display: inline-block;
}

    .metro .login .input-control.file {
        overflow: visible;
    }

    .metro .login td.input-control input {
        width: 260px;
    }

    .metro .login .td-btn {
        text-align: right;
        padding-top: 5px;
    }

.metro .input-control.text input#databaseFile {
    padding-right: 26px;
}

.metro .error-msg {
    margin-bottom: 5px;
    color: #f36e65;
    font-size: 14px;
}

.metro .login-error, .metro .login-validate, .metro .login-error, .metro .symbol-validate {
    display: none;
}

/*end of login*/
#main {
    overflow-y: auto;
    overflow-x: visible;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 960px;
}

.required:before {
    content: "*";
    color: #ff0000;
}

.side-left {
    /*max-width: 20%;*/
    float: left;
    border: 1px #eaeaea solid;
}

.side-content {
    width: 80%;
    float: left;
    position: relative;
}

.side-mid {
    width: 40%;
    float: left;
    border-right: 1px #eaeaea solid;
    outline: 0 none !important;
}

.side-right {
    width: 60%;
    float: left;
}

.metro .sidebar {
    height: auto;
}

.nav-search {
    padding: 10px;
    border-right: 1px #eaeaea solid;
}

    .metro .nav-search > form > div.input-control, .nav-search > form {
        margin: 0;
    }

.refresh-icon {
    float: right;
    padding: 10px;
}

#content-detail {
    width: 100%;
    background-color: #fff;
}

.metro .example {
    border: 0;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -64px;
    margin-top: -64px;
}

.metro .sidebar > ul li a.dropdown-toggle-fix:after {
    right: 10px;
    bottom: 5px;
}

.metro .dropdown-toggle-fix:after {
    position: absolute;
    margin-left: .25em;
    bottom: 0;
    font-family: metroSysIcons;
    font-size: .7em;
    content: '\e001';
}

.navigation-bar {
    min-width: 960px;
}

/*test only to be removed*/
.example {
    height: 100%;
    overflow: auto;
}

.overflow-h {
    overflow: hidden;
}

.breadcrumb {
    list-style: none;
}

    .breadcrumb > li {
        display: inline-block;
    }

        .breadcrumb > li a {
            color: #428bca;
            text-decoration: none;
            cursor: pointer;
        }

        .breadcrumb > li:first-child:before {
            content: "";
            margin: 0;
            position: relative;
        }

        .breadcrumb > li:before {
            content: "/";
            color: #16a085;
            margin: 0 0.75rem;
            position: relative;
            top: 1px;
        }

/*li.unavailable > a {
    color: #bdc3c7;
    cursor: auto;
}

    li.unavailable > a:hover {
        color: #bdc3c7;
        cursor: default;
    }*/
/*context menu*/
ul.context-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 180px;
    position: absolute;
    display: none;
    z-index: 1000;
    background: #fff;
    border: 1px solid #dcddde;
}

li.context-menu-item {
    border: 1px transparent solid;
    background: #fff;
    border: 0;
    display: block;
    padding: 0;
    vertical-align: baseline;
    position: relative;
}

    li.context-menu-item.hover {
        cursor: pointer;
        background-color: #39F;
    }

    li.context-menu-item > span:hover {
        color: #fff;
    }


    li.context-menu-item > span {
        padding: 9px 32px !important;
        display: block;
        text-decoration: none;
        font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
        font-weight: 300;
        letter-spacing: 0.00em;
    }

li.context-menu-separator {
    height: 1px;
    margin: 4px 10px;
    overflow: hidden;
    background-color: #e5e5e5;
}
/*end of context menu*/

/*loading page*/
#loader-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
}

.loader {
    position: fixed;
    top: 40%;
    left: 50%;
    margin: -96.5px 0 0 -176px;
}

    .loader > h1 {
        font-size: 48px;
        font-weight: normal;
        color: #0072c6;
        font-family: 'Segoe UI', 'Segoe WP', 'Segoe UI WPC', Tahoma, Arial, sans-serif;
        display: block;
        margin-bottom: 12px;
    }

    .loader img {
        width: 24px;
    }

.load-icon, .load-status {
    display: block;
    text-align: center;
}

.load-status {
    color: #0072c6;
    font-family: 'Segoe UI', 'Segoe WP', 'Segoe UI WPC', Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin-top: 12px;
}
/*end of loading page*/


/*error page*/
body#error-page {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    position: relative;
}

#error-page .http-error {
    font-size: 24px;
    width: 515px;
    height: 458px;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -257.5px;
    margin-top: -238px;
}

    #error-page .http-error .http-error-number {
        font-family: Helvetica,Arial,sans-serif;
        font-size: 150px;
        font-weight: 700;
        margin: 0;
    }

#error-page .color-lead {
    color: #3498db;
}

#error-page p {
    margin: 0 0 10px;
}

#error-page .text-center {
    text-align: center;
}

#error-page .http-error .icon-image {
    font-size: 150px;
}

#error-page .color-lead {
    color: #3498db;
}

#error-page .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #3498db;
    font-size: 120px;
}
/*end of error page*/

/*slide left*/
.aside .aside-dialog .aside-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    padding: 5px 15px;
    background: #1ba1e2;
    color: #fff;
}

    .aside .aside-dialog .aside-header .close, .metro #exportModal button.close {
        color: #fff;
        font-size: 20px;
        opacity: .8;
        filter: alpha(opacity=80);
        padding: 4px 8px;
        margin-right: -8px;
        border: 0;
    }

.metro #exportModal button.close {
    color: #000;
}

.am-fade {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    opacity: 0.3;
    display: block;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.metro h4 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #fff;
}

.aside .aside-dialog .aside-body {
    position: relative;
    padding: 20px;
}

.aside-footer {
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

/*.metro .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.metro .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.metro .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

    .metro .btn-primary:hover, .metro .btn-primary:focus,.metro .btn-primary:active {
        color: #fff;
        background-color: #3276b1;
        border-color: transparent;
    }*/

/*button style*/
.metro .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.metro .btn {
    -webkit-transition: background .3s;
    transition: background .3s;
}

.metro .btn-lead {
    background-color: #3498db;
    color: #fff;
    border: 1px #258cd1 solid;
}

.metro button.btn-lead:disabled {
    border: 1px #258cd1 solid !important;
    background-color: #3498db !important;
    color: #fff !important;
}

.metro .btn-lead:hover {
    background-color: #217dbb;
    color: #fff!important;
    border: 1px #1d6fa5 solid;
}

.metro .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.metro .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

    .metro .btn-default:hover, .metro .btn-default:focus, .metro .btn-default:active, .metro .btn-default.active {
        color: #333;
        background-color: #ebebeb;
        border-color: #adadad;
    }
/*end of button style*/
.slide-right {
    display: none;
}

.slide-right-wrapper {
    opacity: 0.1;
    filter: alpha(opacity=0);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background: rgba(0,0,0,.5);
    background-color: #000;
    display: block;
}

.slide-right-panel {
    display: block;
    left: auto;
    right: 0;
    z-index: 1049;
    background: #fff;
    position: fixed;
    overflow: auto;
    min-width: 320px;
    top: 0;
    bottom: 0;
}

.policy-font {
    float: left;
    font-size: 16px;
}
/*end of slide left*/

/*spinner*/
.input-append, .input-prepend {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
    font-size: 0;
    white-space: nowrap;
}

.spinner input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: inline-block;
    height: 24px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555555;
    padding: 0;
    width: 42px;
    text-align: center;
    border: 2px #d9d9d9 solid;
}

    .spinner input:focus {
        outline: none;
    }

.spinner .add-on {
    margin-left: -2px;
    vertical-align: top;
    display: inline-block;
    width: auto;
    height: 24px;
    min-width: 16px;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 2px #d9d9d9 solid;
}

    .spinner .add-on a.spin-up, .spinner .add-on a.spin-down {
        height: 8px;
        overflow: hidden;
        display: block;
        position: relative;
        width: auto;
        min-width: 16px;
        padding: 0 4px;
        font-size: 12px;
        font-weight: normal;
        line-height: 23px;
        text-align: center;
        color: #999;
        text-decoration: none;
    }

a > .icon-arrow-up-4, a > .icon-arrow-down-4 {
    content: "\f0de";
    text-decoration: inherit;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 0;
    vertical-align: text-top;
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

a.spin-up {
    margin-top: 3px;
}
/*end of spinner*/

/*modal-box*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

.center-modal {
    width: 550px;
    height: 510px;
    position: absolute;
    margin-left: -275px;
    margin-top: -255px;
    top: 50%;
    left: 50%;
}

.modal-content {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.metro .window.flat .caption {
    height: 54px;
    padding: 15px 20px 10px;
}

    .metro .window.flat .caption .btn-close {
        border: 0;
    }

        .metro .window.flat .caption .btn-close:hover, .metro .window.flat .caption .btn-close:focus, .metro .window.flat .caption .btn-close:active {
            background-color: #fff !important;
            background-color: transparent !important;
            color: #777777 !important;
            border: 0;
        }

.metro .modal-title, .metro .window .caption .title {
    color: #000;
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
}

.modal-body {
    position: relative;
    padding: 25px 10px 15px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.alert-danger strong {
    color: #a94442;
}

.alert-info {
    background-color: #5bc0de;
    border-color: #3db5d8;
    color: #ffffff;
}

#import-download {
    margin: 10px 0 5px;
}

.file-info {
    margin-top: 60px;
    text-align: center;
}

    .file-info * {
        font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
        color: #505050;
    }

    .file-info .file-thumbnail {
        margin-bottom: 8px;
        height: 128px;
    }

        .file-info .file-thumbnail img {
            width: 128px;
        }

button.full, a.full {
    display: block;
    width: 100%;
    /*margin: 40px 0 10px;*/
}

.metro .window.flat {
    width: 550px;
}
/*end of modal box*/

/*browse button*/
.browse-input {
    cursor: default;
    z-index: 1;
}

.browse-btn:focus {
    outline: 0 !important;
}
/*end of browse button*/

/*Manage group*/

.metro legend {
    overflow: hidden;
}

/*layout of viewgroup and account*/
.view-page label {
    font-weight: bold;
    background-color: #e6f2fa;
    outline: none;
    padding: 5px;
}

.view-page p {
    padding-left: 5px;
    font-size: 13px;
}

.btn.btn-white {
    background-color: white;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group > .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #222222;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    background-color: whitesmoke;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group {
    overflow: hidden;
}

.btn.btn-white:hover {
    background-color: #e6e6e6;
}

.metro .clip-group .btn:hover, .metro .clip-group .btn:focus {
    color: #333333;
    text-decoration: none;
}

.btn-group > a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    margin-left: -1px;
    float: left;
}

.btn[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}


.metro h3.frame-title {
    float: left;
    margin: 15px 0;
}

.clip-group {
    float: right;
    margin-top: 10px;
}

p.validation {
    cursor: default !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    color: #b94a48 !important;
    text-align: left !important;
}

.validation {
    cursor: default;
    color: #b94a48;
}

/*.error-state>div>a.select2-choice {
    border-color: #e51400;
}*/

.select-search {
    width: 100%;
    height: 34px;
}

.metro a.select2-choice:hover {
    color: #444;
}
/*end of Manage group*/
.icon-style {
    margin-top: 8px;
    font-size: 16px;
}

.metro #group-management:before {
    content: "Group";
}

.metro #user-management:before {
    content: "Account";
}

.metro .listview-outlook .list .list-content {
    min-height: 54px;
}

.account-uuid {
    display: none;
}

#notes {
    font-family: Arial;
    font-size: 14px;
}

#user-management .validation {
    display: block;
    margin-bottom: 10px;
    margin-top: -5px;
}

.word-break {
    word-wrap: break-word; /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap; /* current browsers */
}

.metro .create-ddl.dropdown-toggle:after {
    content: none;
}

#fileImport {
    margin: 0;
    position: relative;
}


/*master password*/
.ms-left {
    float: left;
    text-align: left;
}

.ms-right {
    float: left;
}


#main-body.metro .btn {
    margin-top: 25px;
}

#main-body.metro #import-download.btn {
    margin-top: 5px;
}

#main-body.metro .aside-footer .btn {
    margin-top: 0;
}

#master-pwd-dialog {
    padding-bottom: 0;
}

.metro .window.flat {
    height: auto !important;
}

.metro .input-control.text .display-password {
    display: block;
    top: 0;
}

.metro .view-page .reveal-chb {
    background-color: white;
    padding: 0;
    margin: 0;
}

.metro .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

    .metro .btn-danger:focus, .metro .btn-danger:active {
        color: #fff;
    }

    .metro .btn-danger:hover {
        color: #fff;
        background-color: #d2322d;
        border-color: #ac2925;
    }

.metro .btn-default, .metro .btn-default:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    outline: none !important;
}

    .metro .btn-default:hover, .metro .btn-default:active {
        color: #333;
        background-color: #ebebeb;
        border-color: #adadad;
        outline: none !important;
    }

.metro .input-control.password.account-password {
    float: left;
    width: 90%;
}

.generate-password {
    float: left;
    width: 10%;
}

#main-body.metro .generate-password .btn {
    margin-top: 0;
    margin-left: -2px;
    border-left: 0;
}

.validation-message, .password-strength {
    margin: 2px 0 10px;
    font-size: .8em;
}

.column {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    height: 100%;
}

#password-contain-uppercase, #password-contain-lowercase, #password-contain-numbers-special, #password-contain-mixed-symbol {
    color: #a5a5a5;
}

.tick-fail {
    background-position: 8px 0 !important;
}

.icon-small {
    display: inline-block;
    width: 21px;
    height: 10px;
    padding-left: 8px;
    padding-right: 3px;
}

.tick-pass {
    color: green;
}

.black {
    color: #000 !important;
}

.back-home {
    display: inline-block;
    color: #3498db;
    border-bottom: 1px #3498db dotted;
}

.company-logo {
    margin: 5px;
}

.metro .navigation-bar .navigation-bar-content .element.logo-link {
    padding: 8px;
}

/*search bar*/
.search-bar {
    color: grey;
}

    .search-bar span {
        font-style: italic;
    }

.file-child {
    outline: none !important;
}

.metro #viewUserForm .input-control.text, .metro #viewUserForm label {
    cursor: auto;
}
/*end of search bar*/
.error-state .select2-choice {
    border-color: #e51400;
}

.metro .input-control.text .btn-file {
    z-index: 0;
}


/*shutdown page*/
#shutdown {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -319px;
    margin-top: -150px;
}

    #shutdown div {
        text-align: center;
    }

    #shutdown p {
        text-align: center;
        font-size: 40px;
        margin-top: 18px;
    }

#shut-down-icon {
    font-size: 140px;
    color: #BA242B;
}
/*end of shutdown page*/
