<div class="modal-body" id="import-dialog">
    <div class="alert alert-danger">
        <strong>Warning!</strong> tur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
    </div>
    <div class="file-info margin-top10">
        <form id="masterPasswordForm"></form>
        <div class="ofh">
            <div class="ms-left">
                <label for="newPassword">New Passowrd: </label>
            </div>
            <div class="input-control text ms-right" data-role="input-control">
                <input class="select-search" id="groupParent" name="groupParent" ng-model="group.groupParent" />
            </div>
        </div>
        <div class="ofh">
            <div class="ms-left">
                <label for="newPassword">Current Password: </label>
            </div>
            <div class="input-control text ms-right" data-role="input-control">
                <input class="select-search" id="groupParent" name="groupParent" ng-model="group.groupParent" />
            </div>
        </div>
        <div class="ofh">
            <div class="ms-left">
                <label for="newPassword">Confirm: </label>
            </div>
            <div class="input-control text ms-right" data-role="input-control">
                <input class="select-search" id="groupParent" name="groupParent" ng-model="group.groupParent" />
            </div>
        </div>
    </div>
</div>
