<div class="modal-body" id="master-pwd-dialog">
    <div class="alert alert-danger" id="master-pwd-alert" style="display: none;">
        <strong>Warning!</strong>&nbsp;<span class="custom-error">aa</span>
    </div>
    <div class="file-info margin-top10">
        <form id="masterPasswordForm" novalidate name="masterPasswordForm" ng-submit="SubmitMasterPasswordForm(masterPasswordForm.$valid);">
            <div class="ofh">
                <div class="ms-left">
                    <label class="required" for="oldPassword">Current Password: </label>
                </div>
                <div class="input-control text ms-right password" data-role="input-control" ng-class="{'error-state': masterPasswordForm.oldPassword.$invalid && masterPasswordForm.oldPassword.$dirty}" ng-required="true">
                    <input type="password" class="select-search" id="oldPassword" name="oldPassword" ng-model="master.oldPassword" required />
                    <button class="btn-reveal" tabindex="-1" type="button" ng-mousedown="Reveal('#oldPassword')" ng-blur="Hide('#oldPassword')"></button>
                </div>
                <p class="validation fl margin-top-5" ng-show="masterPasswordForm.oldPassword.$error.required&& masterPasswordForm.oldPassword.$dirty">This field is required</p>
            </div>
            <div class="ofh">
                <div class="ms-left">
                    <label class="required" for="newPassword">New Passowrd: </label>
                </div>
                <div class="input-control text ms-right password" data-role="input-control" ng-class="{'error-state': masterPasswordForm.newPassword.$invalid && masterPasswordForm.newPassword.$dirty}">
                    <input type="password" class="select-search" id="newPassword" name="newPassword" ng-model="master.newPassword" required />
                    <button class="btn-reveal" tabindex="-1" type="button" ng-mousedown="Reveal('#newPassword')" ng-blur="Hide('#newPassword')"></button>
                </div>
                <p class="validation fl margin-top-5" ng-show="masterPasswordForm.newPassword.$error.required&& masterPasswordForm.newPassword.$dirty">This field is required</p>
            </div>
            <div class="ofh">
                <div class="ms-left">
                    <label class="required" for="cfmNewPassword">Confirm: </label>
                </div>
                <div class="input-control text ms-right password" data-role="input-control" ng-class="{'error-state': masterPasswordForm.cfmNewPassword.$invalid && masterPasswordForm.cfmNewPassword.$dirty}">
                    <input type="password" class="select-search" id="cfmNewPassword" name="cfmNewPassword" ng-model="master.cfmNewPassword" password-match="master.newPassword" required />
                    <button class="btn-reveal" tabindex="-1" type="button" ng-mousedown="Reveal('#cfmNewPassword')" ng-blur="Hide('#cfmNewPassword')"></button>
                </div>
                <p class="validation fl margin-top-5" ng-show="masterPasswordForm.cfmNewPassword.$error.required&& masterPasswordForm.cfmNewPassword.$dirty">This field is required</p><br />
                <p class="validation fl margin-top-5" ng-show="masterPasswordForm.cfmNewPassword.$error.unique&& masterPasswordForm.cfmNewPassword.$dirty">Password does not match</p>
            </div>
            <div class="ofh">
                <button type="submit" class="btn btn-lead full" ng-disabled="masterPasswordForm.$invalid">Save Changes</button>
            </div>
        </form>
    </div>
</div>
