<div class="modal-body" id="import-dialog">
    <div class="alert alert-danger">
        <strong>Warning!</strong> You are about to import accounts from an external source. These accounts were not stored in an encrypted format so anyone could have accessed them. If you believe that the accounts could have been compromised, it is highly recommended to change the passwords, both at their respective sites and in this database.
    </div>
    <div class="file-info margin-top10">
        <form name="fileImportForm" id="fileImport">
            <div class="input-control file" data-role="input-control" ng-class="{'error-state': fileImportForm.file.$invalid && fileImportForm.file.$dirty}">
                <input type="text" name="file" id="importFileInput" class="file-path" ng-model="file.filePath" required />
                <button class="btn-file browse-btn" type="button" ng-click="OpenImportFileDialog()"></button>
            </div>
            <p class="validation" ng-show="fileImportForm.file.$error.required&& fileImportForm.file.$dirty">This field is required</p>
            <p class="validation" id="import-customMsg"></p>
            <div>
                <a href="javascript:;" class="btn btn-lead full" id="import-download" ng-disabled="fileImportForm.$invalid" ng-click="ImportSubmit()">Import</a>
            </div>
        </form>
    </div>
</div>
