<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="shortcut icon" href="static/img/logo32x32.png">
    <link href="static/css/metro-bootstrap.css" rel="stylesheet">
    <link href="static/css/iconFont.css" rel="stylesheet" />
    <link href="static/css/jquery.splitter.css" rel="stylesheet" />
    <link href="static/css/select2.css" rel="stylesheet" />
    <link href="static/css/primate.css" rel="stylesheet" />
</head>
<body class="metro overflow-h" ng-app="loginApp" ng-controller="loginController">
    <section class="loginform cf">
        <p class="error-msg login-validate">Database is required. </p>
        <p class="error-msg login-validate">Password is required. </p>
        <p class="error-msg login-validate">Confirm password is not match. </p>
        <form class="login" name="newDBForm" id="newDBForm" method="post" target="/newDB" novalidate ng-submit="SubmitNewDbForm(newDBForm.$valid)">
            <div class="logo">
                <img src="static/img/logo.png" alt="logo" />
            </div>
            <table>
                <tr>
                    <td><p class="required">Database: </p></td>
                    <td class="input-control file text">
                        <input type="text" name="DatabaseFile" ng-model="newDB.databaseFile" id="databaseFile" required tabindex="1">
                        <button class="btn-file browse-btn" type="button" ng-click="OpenSetFileDialog();"></button>
                    </td>
                </tr>
                <tr>
                    <td><p class="required">Password: </p></td>
                    <td class="input-control text">
                        <input type="password" id="password" name="Password" placeholder="Enter Password" ng-model="newDB.password" required tabindex="2" />
                        <button class="btn-reveal" tabindex="-1" type="button" ng-mousedown="Reveal('#password')" ng-blur="Hide('#password')"></button>
                    </td>
                </tr>
                <tr>
                    <td><p class="required">Confirm: </p></td>
                    <td class="input-control text">
                        <input type="password" name="ConfirmPassword" id="confirmPassword" placeholder="Confirm Password" ng-model="newDB.cfmPassword" password-match="newDB.password" required tabindex="3" />
                        <button class="btn-reveal" tabindex="-1" type="button" ng-mousedown="Reveal('#confirmPassword')" ng-blur="Hide('#confirmPassword')"></button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="td-btn">
                        <button type="submit" class="btn btn-lead" id="btn-group-submit" tabindex="4">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
        <p class="db-line">
            <a href="/">Login</a>
        </p>
    </section>
</body>
</html>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/angular.min.js"></script>
<script src="static/js/angular-route.min.js"></script>
<script src="static/js/ngStorage.js"></script>
<script src="static/js/jquery.widget.min.js"></script>
<script src="static/js/metro.min.js"></script>
<script src="static/js/jquery.splitter.js"></script>
<script src="static/js/jquery.contextMenu.js"></script>
<script src="static/js/jquery.spinner.min.js"></script>
<script src="static/js/select2.min.js"></script>
<script src="static/js/primate.js"></script>
<script src="static/js/angular/controllers/loginController.js"></script>
<script src="static/js/angular/controllers/mainController.js"></script>
