<div id="loader">
    <img src="static/img/metro-loader.gif" />
</div>
<div class="example" id="user-management" style="margin-left: 25%; opacity: 0;" ng-init="InitAccountManagment()">
    <form id="viewUserForm" name="viewUserForm">
        <fieldset class="view-page">
            <legend>
                <h3 class="frame-title">Account Detail</h3>
            </legend>
            <label>Group Directory</label>
            <div class="input-control text" data-role="input-control">
                <p ng-bind="account.groupParent"></p>
            </div>

            <label>Username</label>
            <div class="input-control text" data-role="input-control">
                <p ng-bind="account.user"></p>
            </div>

            <label>Password</label>
            <div class="input-control text" data-role="input-control">
                <p id="passowrd-p" class="fl" data-password="{{account.passwd}}" data-mask="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</p>
                <div class="input-control checkbox fr">
                    <label class="reveal-chb">
                        <input type="checkbox" id="pwd-reveal-chb" ng-click="RevealCheckboxPassword('#pwd-reveal-chb','#passowrd-p')" />
                        <span class="check"></span>
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
            <label>Title</label>
            <div class="input-control text" data-role="input-control">
                <p ng-bind="account.title"> Anna </p>
            </div>
            <label>URL</label>
            <div class="input-control text" data-role="input-control">
                <p ng-bind="account.url"></p>
            </div>
            <label>Notes</label>
            <div class="input-control text" data-role="input-control">
                <p ng-bind="ReplaceEmptyToNA(account.notes)"></p>
            </div>

            <label>Last Modified</label>
            <div class="input-control text" data-role="input-control">
                <p ng-bind="account.last_mod"></p>
            </div>
            <div>
                <button type="submit" class="btn btn-lead full" id="btn-user-submit" ng-click="RedirectFromViewToUserEdit();">Edit Account</button>
            </div>
        </fieldset>
    </form>
</div>
