<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Primate Password</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap switch -->
    <link href="../static/css/bootstrap-switch.min.css" rel="stylesheet">

    <!-- Include custom CSS files as needed -->
    <link href="../static/css/primate.css" rel="stylesheet" />
</head>
<body style="display: none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
            </div>
        </div>
        <div class="row">
            <!-- Buttons -->
            <div class="col-xs-6">
                <button id="listGridToggleButton" type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-left"></span> Toggle View</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span> Sort <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-sort-by-alphabet"></span> Sort by Alphabetical</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-sort-by-order"></span> Sort by Group</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Sort by Usage</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{  session['username'] }} <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-toggle="modal" data-target="#manageUserSettingsModal"><span class="glyphicon glyphicon-calendar"></span> Manage Users</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#userSettingsModal"><span class="glyphicon glyphicon-user"></span> User Settings</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#databaseSettingsModal"><span class="glyphicon glyphicon-tasks"></span> Database Settings</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#importModal"><span class="glyphicon glyphicon-import"></span> Import</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#exportModal"><span class="glyphicon glyphicon-export"></span> Export</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="alertPasswordCopied" class="alert alert-info" style="display: none">Password Copied</div>
            </div>
            <div class="col-md-12">
                <div id="alertChangesSaved" class="alert alert-success" style="display: none">Changes Saved</div>
            </div>
            <div class="col-md-12">
                <div id="alertMsg" class="alert alert-danger" style="display: none">Deleted</div>
            </div>
        </div>
        <div id="gridview">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <h1>{{ group }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="writeMain">
                    {% for group in session['groups'] %}
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <span data-toggle="popover" data-placement="bottom" title="Notes">{{ group }}</span>
                                    </div>
                                    <div class="col-xs-5">
                                        <p class="text-right" style="margin-bottom: 0px">
                                            <a href="#" data-toggle="modal" data-target="#permissionsModal" style="color: #5bc0de"><span class="glyphicon glyphicon-user"></span></a>&nbsp;&nbsp;&nbsp;<a href="#" class="addUserButton" id="addUserButton" group="{{ group }}" data-toggle="modal" data-target="#createUserModal" style="color: #5bc0de"><span class="glyphicon glyphicon-plus"></span></a>&nbsp;&nbsp;&nbsp;
                                            <a href="#" data-toggle="modal" class="reeditGroup" group="{{ group }}" data-target="#redditModal" style="color: #5bc0de">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <h4></h4>
                                {% for record in records %}
                                {% if record._get_group() == group %}
                                <p>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <a href="#"><span class="glyphicon glyphicon-user toggleCopy"></span></a> <a href="#" group="{{ group }}" id="{{ record._get_uuid() }}" class="passwordLink">{{ record._get_title() }}</a>
                                        </div>
                                        <div class="col-md-1 btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">  <span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a target="_blank" href="http://{{ record._get_url() }}"><span class="glyphicon glyphicon-link"></span> Open URL</a></li>
                                                <hr>
                                                <li><a href="#"><span class="glyphicon glyphicon-file"></span> Copy Username</a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-file"></span> Copy Password</a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-file"></span> Copy URL</a></li>
                                                <hr>
                                                <li><a href="#" onclick="loginDropDown('{{ record._get_uuid() }}','view')"><span class="glyphicon glyphicon-eye-open"></span> View</a></li>
                                                <li><a href="#" onclick="loginDropDown('{{ record._get_uuid() }}','edit')"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                                                <li><a href="#" onclick="loginDropDown('{{ record._get_uuid() }}','move')"><span class="glyphicon glyphicon-move"></span> Move</a></li>
                                                <li><a href="#" onclick="loginDropDown('{{ record._get_uuid() }}','delete')"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="writeMain ui-sortable">
                    <!-- Instagram -->
                    <!-- Add -->
                    <div class="col-md-4">
                        <div class="panel panel-default" style="border-style: dashed !important">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <span data-toggle="popover" data-placement="bottom" title="" data-content="" data-original-title="Notes">Create Group</span>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <h4 class="text-center">
                                    <a href="#" data-toggle="modal" data-target="#createGroupModal" data-original-title="" title="">
                                        <span class="glyphicon glyphicon-plus" data-original-title="" title=""></span>
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- endogrid -->
            </div>
        </div>
    </div>
    <!--edit group modal-->
    <div class="modal fade" id="redditModal" data-groupid="">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="form-edit-group" method="POST" target="/edit-group">
                    <input type="hidden" name="group" />
                    <!--req can only be edit or del-->
                    <input type="hidden" name="req" class="req" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Edit Group</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Group Parent</h3>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <div class="btn-group">
                                    <button class="btn btn-default" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"></a></li>
                                        <li><a href="#">Infrastructure</a></li>
                                        <li><a href="#">Social</a></li>
                                    </ul>
                                </div>
                            </span>
                            <input type="text" class="form-control text-center" name="groupParent" placeholder="Group Parent" value="" />
                        </div>
                        <h3>Group Name</h3>
                        <input type="text" class="form-control text-center" name="groupName" placeholder="Group Name" />
                        <br />
                        <h4>Panel Colour</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Blue</button>
                                    <button type="button" class="btn btn-success">Green</button>
                                    <button type="button" class="btn btn-info active">Light Blue</button>
                                    <button type="button" class="btn btn-warning">Yellow</button>
                                    <button type="button" class="btn btn-danger">Red</button>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-danger del-waring">Once you delete, you will not enable to recover.<input type="checkbox" class="del-group-chkbox" style="float:right;" /></div>
                        <div class="clearfix"></div>
                    </div>


                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <input id="deleteGroupButton" name="delGroup" type="button" class="btn btn-danger text-left" disabled="" value="Delete Group">
                            </div>
                            <div class="clearfix visible-sm visible-xs"><br /><br /></div>
                            <div class="col-md-9 col-sm-12">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary saveChanges">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--manage pemission modal-->
    <div class="modal fade" id="permissionsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span class=" glyphicon glyphicon-user"></span> Permissions</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control text-center" placeholder="Search Users" autofocus />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Permissions</h2>
                            <h3>Full Access</h3>
                            <ul id="writeMain" class="connectedUserPermissions list-unstyled list-inline">
                                <li><span class="label label-danger">JohnSmith <a href="#" style="color: white">&times;</a></span></li>
                                <li><span class="label label-primary">JonnieDoe <a href="#" style="color: white">&times;</a></span></li>
                            </ul>

                            <br />

                            <h3>Read Only</h3>
                            <ul id="writeMain" class="connectedUserPermissions list-unstyled list-inline">
                                <li><span class="label label-info">TommyAtkins <a href="#" style="color: white">&times;</a></span></li>
                                <li><span class="label label-info">FredBloggs <a href="#" style="color: white">&times;</a></span></li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary saveChanges" data-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--manage user settings modal-->
    <div class="modal fade" id="manageUserSettingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span class=" glyphicon glyphicon-calendar"></span> Manager Users</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control text-center" placeholder="Search Users" autofocus />
                        </div>
                    </div>
                    <h2>User</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="Button"><span class="glyphicon glyphicon-remove"></span></button>
                                </span>
                                <input type="text" class="form-control text-center" placeholder="Username" value="JonnieDoe" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="Button" id="managerUserSettingsEditButton"><span class="glyphicon glyphicon-cog"></span></button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary generatePasswordButton" type="Button"><span class="glyphicon glyphicon-qrcode"></span></button>
                                </span>
                                <input type="text" class="form-control text-center" placeholder="Password" />
                                <span class="input-group-btn">
                                    <button class="btn btn-success togglePassword" type="Button"><span class="glyphicon glyphicon-eye-close"></span></button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12" id="managerUserSettingsEdit">
                            <br />
                            <div class="col-xs-12">
                                <p class="text-right"><a href="#" class="generatorSettingsButton"><span class="glyphicon glyphicon-cog"></span> Password Generator Settings</a></p>
                                <div class="generatorSettings">
                                    <div class="checkbox">
                                        <label><input type="checkbox" checked />Custom Length <input class="form-control" type="text" size="4" maxlength="4"></input></label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" checked /> Use Lower Case</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" checked /> Use Upper Case</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" checked /> Use Digits</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" /> Use Hexadecimal Digits</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" /> Use Symbols (% $ @ # etc.)</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" /> Have Spaces</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" /> Use Easy to Read Characters Only (No 0 or O etc.)</label>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <h2>Permissions</h2>
                            <h3>Full Access</h3>
                            <h4>Main</h4>
                            <ul id="writeMain" class="connectedUserPermissions list-unstyled list-inline">
                                <li><span class="label label-info"><img src="http://www.google.com/s2/favicons?domain=www.reddit.com" /> Reddit <a href="#" style="color: white">&times;</a></span></li>
                                <li><span class="label label-danger"><img src="http://www.google.com/s2/favicons?domain=www.pintrest.com" /> Pintrest <a href="#" style="color: white">&times;</a></span></li>
                            </ul>
                            <h4>Social</h4>
                            <ul id="writeOther" class="connectedUserPermissions list-unstyled list-inline"></ul>

                            <br />

                            <h3>Read Only</h3>
                            <h4>Main</h4>
                            <ul id="readMain" class="connectedUserPermissions list-unstyled list-inline">
                                <li><span class="label label-success"><img src="http://www.google.com/s2/favicons?domain=www.github.com" /> Github <a href="#" style="color: white">&times;</a></span></li>
                                <li><span class="label label-primary"><img src="http://www.google.com/s2/favicons?domain=www.gmail.com" /> G-mail <a href="#" style="color: white">&times;</a></span></li>
                            </ul>

                            <h4>Social</h4>
                            <ul id="readOther" class="connectedUserPermissions list-unstyled list-inline">
                                <li><span class="label label-primary"><img src="http://www.google.com/s2/favicons?domain=www.facebook.com" /> Facebook <a href="#" style="color: white">&times;</a></span></li>
                                <li><span class="label label-danger"><img src="http://www.google.com/s2/favicons?domain=plus.google.com" /> Google+ <a href="#" style="color: white">&times;</a></span></li>
                                <li><span class="label label-warning"><img src="http://www.google.com/s2/favicons?domain=www.instagram.com" /> Instagram <a href="#" style="color: white">&times;</a></span></li>
                            </ul>

                            <br />

                            <h3>Unassigned</h3>
                            <h4>Main</h4>
                            <ul id="unassignedMain" class="connectedUserPermissions list-unstyled list-inline">
                                <li><span class="label label-warning"><img src="http://www.google.com/s2/favicons?domain=www.amazon.com" /> Amazon <a href="#" style="color: white">&times;</a></span></li>
                            </ul>

                            <h4>Social</h4>
                            <ul id="unassignedOther" class="connectedUserPermissions list-unstyled list-inline">
                                <li><span class="label label-info"><img src="http://www.google.com/s2/favicons?domain=www.twitter.com" /> Twitter <a href="#" style="color: white">&times;</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary saveChanges" data-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--user settings modal-->
    <div class="modal fade" id="userSettingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span class=" glyphicon glyphicon-user"></span> User Settings</h4>
                </div>
                <div class="modal-body">
                    <h2>Administrator</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="Button"><span class="glyphicon glyphicon-remove"></span></button>
                                </span>
                                <input type="text" class="form-control text-center" placeholder="Username" value="JohnSmith" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="Button" id="editUserSettingsButton"><span class="glyphicon glyphicon-cog"></span></button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary generatePasswordButton" type="Button"><span class="glyphicon glyphicon-qrcode"></span></button>
                                </span>
                                <input type="text" class="form-control text-center" placeholder="Password" />
                                <span class="input-group-btn">
                                    <button class="btn btn-success togglePassword" type="Button"><span class="glyphicon glyphicon-eye-close"></span></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12" id="editUserSettings">
                            <br />
                            <div class="col-xs-12">
                                <p class="text-right"><a href="#" class="generatorSettingsButton"><span class="glyphicon glyphicon-cog"></span> Password Generator Settings</a></p>
                                <div class="generatorSettings">
                                    <div class="checkbox">
                                        <label><input type="checkbox" checked />Custom Length <input class="form-control" type="text" size="4" maxlength="4"></input></label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" checked /> Use Lower Case</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" checked /> Use Upper Case</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" checked /> Use Digits</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" /> Use Hexadecimal Digits</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" /> Use Symbols (% $ @ # etc.)</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" /> Have Spaces</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" /> Use Easy to Read Characters Only (No 0 or O etc.)</label>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <h2>Permissions</h2>
                            <h3>Full Access</h3>
                            <h4>Main</h4>
                            <ul id="writeMain" class="connectedUserPermissions list-unstyled list-inline">
                                <li><span class="label label-info"><img src="http://www.google.com/s2/favicons?domain=www.reddit.com" /> Reddit</span></li>
                                <li><span class="label label-danger"><img src="http://www.google.com/s2/favicons?domain=www.pintrest.com" /> Pintrest</span></li>
                                <li><span class="label label-success"><img src="http://www.google.com/s2/favicons?domain=www.github.com" /> Github</span></li>
                                <li><span class="label label-primary"><img src="http://www.google.com/s2/favicons?domain=www.gmail.com" /> G-mail</span></li>
                                <li><span class="label label-warning"><img src="http://www.google.com/s2/favicons?domain=www.amazon.com" /> Amazon</span></li>
                            </ul>
                            <h4>Social</h4>
                            <ul id="writeOther" class="connectedUserPermissions list-unstyled list-inline">
                                <li><span class="label label-primary"><img src="http://www.google.com/s2/favicons?domain=www.facebook.com" /> Facebook</span></li>
                                <li><span class="label label-danger"><img src="http://www.google.com/s2/favicons?domain=plus.google.com" /> Google+</span></li>
                                <li><span class="label label-warning"><img src="http://www.google.com/s2/favicons?domain=www.instagram.com" /> Instagram</span></li>
                                <li><span class="label label-info"><img src="http://www.google.com/s2/favicons?domain=www.twitter.com" /> Twitter</span></li>
                            </ul>
                            <br />
                            <h3>Read Only</h3>
                            <h4>Main</h4>
                            <ul id="readMain" class="connectedUserPermissions list-unstyled list-inline">
                                <li><small><em style="color: #cccccc">None</em></small></li>
                            </ul>
                            <h4>Social</h4>
                            <ul id="readOther" class="connectedUserPermissions list-unstyled list-inline">
                                <li><small><em style="color: #cccccc">None</em></small></li>
                            </ul>
                            <br />
                            <h3>Unassigned</h3>
                            <h4>Main</h4>
                            <ul id="unassignedMain" class="connectedUserPermissions list-unstyled list-inline">
                                <li><small><em style="color: #cccccc">None</em></small></li>
                            </ul>

                            <h4>Social</h4>
                            <ul id="unassignedOther" class="connectedUserPermissions list-unstyled list-inline">
                                <li><small><em style="color: #cccccc">None</em></small></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary saveChanges" data-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--database settings modal-->
    <div class="modal fade" id="databaseSettingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span class=" glyphicon glyphicon-tasks"></span> Database Settings</h4>
                </div>

                <div class="modal-body">
                    <h3>functions</h3>
                    <p><a href="#"><span class="glyphicon glyphicon-import"></span> Import/Merge</a></p>
                    <p><a href="#"><span class="glyphicon glyphicon-export"></span> Export</a></p>
                    <p><a href="#"><span class="glyphicon glyphicon-remove"></span> Delete</a></p>
                    <h3>Password Reminders</h3>

                    <div class="btn-group">
                        <button type="button" class="btn btn-success">Monthly</button>
                        <button type="button" class="btn btn-success active">Weekly</button>
                        <button type="button" class="btn btn-success">Custom</button>
                        <button type="button" class="btn btn-danger">Off</button>
                    </div>


                    <h3>Auto Logout</h3>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success active">5 Minutes</button>
                        <button type="button active" class="btn btn-success">60 Seconds</button>
                        <button type="button" class="btn btn-success">Custom</button>
                        <button type="button" class="btn btn-danger">Off</button>
                    </div>

                    <h3>Clear Clipboard</h3>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success">60 Seconds</button>
                        <button type="button" class="btn btn-success">10 Seconds</button>
                        <input type="text" class="btn btn-default" placeholder="Seconds" value="60" />
                        <button type="button" class="btn btn-danger">Off</button>
                    </div>

                    <h3>Themes</h3>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info active" id="lightThemeButton">Light</button>
                        <button type="button" class="btn btn-primary" id="darkThemeButton">Dark</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary saveChanges" data-dismiss="modal">Save changes</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--create group modal-->
    <div class="modal fade" id="createGroupModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="form-create-group" method="POST" target="/create-group">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Data Centre (Template)</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Group Parent</h3>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <div class="btn-group">
                                    <button class="btn btn-default" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"></a></li>
                                        <li><a href="#">Infrastructure</a></li>
                                        <li><a href="#">Social</a></li>
                                    </ul>
                                </div>
                            </span>
                            <input type="text" class="form-control text-center" name="groupParent" placeholder="Group Parent" value="" />
                        </div>


                        <h3>Group Name</h3>
                        <input type="text" class="form-control text-center" name="groupName" placeholder="Group Name" />
                        <br />
                        <h4>Panel Colour</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Blue</button>
                                    <button type="button" class="btn btn-success">Green</button>
                                    <button type="button" class="btn btn-info active">Light Blue</button>
                                    <button type="button" class="btn btn-warning">Yellow</button>
                                    <button type="button" class="btn btn-danger">Red</button>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                            </div>
                            <div class="clearfix visible-sm visible-xs"><br /><br /></div>
                            <div class="col-md-9 col-sm-12">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary saveChanges">Create Group</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--create user modal-->
    <div class="modal fade" id="createUserModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="form-create-user" method="POST" target="/create-user">
                    <input type="hidden" name="group" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add User</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Username</h3>
                        <input type="text" class="form-control text-center" name="usr" placeholder="Username" />
                        <br />
                        <h3>Password</h3>
                        <input type="password" class="form-control text-center" name="pwd" placeholder="Password" />
                        <br />
                        <h4>Title</h4>
                        <input type="text" class="form-control text-center" name="userTitle" placeholder="Title" />
                        <br />
                        <h4>URL</h4>
                        <input type="text" class="form-control text-center" name="userUrl" placeholder="URL" />
                        <br />
                        <h4>Notes</h4>
                        <input type="text" class="form-control text-center" name="notes" placeholder="Title" />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                            </div>
                            <div class="clearfix visible-sm visible-xs"><br /><br /></div>
                            <div class="col-md-9 col-sm-12">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary saveChanges">Create User</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--export database modal-->
    <div class="modal fade" id="exportModal">
        <div class="modal-dialog center-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Export</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        <strong>Warning!</strong> Exporting the database will mean that your passwords will no longer be securely encrypted.
                    </div>
                    <div class="file-info">
                        <div class="file-thumbnail">
                            <img src="https://www.dropbox.com/static/images/icons128/page_white_excel.png">
                        </div>
                        <div class="file-type">Document</div>
                        <div class="file-extended-details">
                            <span class="file-modified">5/2/2013 4:11 PM</span>&nbsp;·&nbsp;<span class="file-size">9.53 KB</span>
                        </div>
                        <div class="file-actions">
                            <!--write your request url here and it will work-->
                            <a href="/export" class="btn btn-primary full" id="export-download">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
	<!--import database modal-->
    <div class="modal fade" id="importModal">
        <div class="modal-dialog center-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Import</h4>
                </div>
				<form id="form-import" method="post" action="import" target="/import" enctype="multipart/form-data">
                <div class="modal-body">
					
						<input type="hidden" name="group" />
						
							<h3>File to Import</h3>
							<input type="file" class="form-control text-center" name="file"/>
							<input type="submit" value="Submit">
						
						
					
                </div>
				<div class="modal-footer">
							<div class="row">
								<div class="col-md-3 col-sm-12">
								</div>
								<div class="clearfix visible-sm visible-xs"><br /><br /></div>
								<div class="col-md-9 col-sm-12">
									<button type="button" class="btn btn-primary saveChanges">Submit</button>
								</div>
							</div>
						</div>
				</form>
				<form action="import" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
            </div>
        </div>
    </div><!-- /.modal -->
    <!--edit user modal-->
    <div class="modal fade" id="editUserModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="form-edit-user" method="POST" target="/edit-user">
                    <input type="hidden" name="uuid" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Edit User</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Username</h3>
                        <input type="text" class="form-control text-center" name="usr" placeholder="Username" />
                        <br />
                        <h3>Password</h3>
                        <input type="password" class="form-control text-center" name="pwd" placeholder="Password" />
                        <br />
                        <h4>Title</h4>
                        <input type="text" class="form-control text-center" name="userTitle" placeholder="Title" />
                        <br />
                        <h4>URL</h4>
                        <input type="text" class="form-control text-center" name="userUrl" placeholder="URL" />
                        <br />
                        <h4>Notes</h4>
                        <input type="text" class="form-control text-center" name="notes" placeholder="Title" />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                            </div>
                            <div class="clearfix visible-sm visible-xs"><br /><br /></div>
                            <div class="col-md-9 col-sm-12">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary saveChanges">Save changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--delete user modal-->
    <div class="modal fade" id="delUserModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="form-del-user" method="POST" target="/delete-user">
                    <input type="hidden" name="uuid" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Edit User</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Username</h3>
                        <input type="text" class="form-control text-center" name="usr" placeholder="Username" disabled />
                        <br />
                        <h3>Password</h3>
                        <input type="password" class="form-control text-center" name="pwd" placeholder="Password" disabled />
                        <br />
                        <h4>Title</h4>
                        <input type="text" class="form-control text-center" name="userTitle" placeholder="Title" disabled />
                        <br />
                        <h4>URL</h4>
                        <input type="text" class="form-control text-center" name="userUrl" placeholder="URL" disabled />
                        <br />
                        <h4>Notes</h4>
                        <input type="text" class="form-control text-center" name="notes" placeholder="Title" disabled />
                        <br />
                        <div class="alert alert-danger del-waring">Once you delete, you will not enable to recover.<input type="checkbox" class="del-user-chkbox" style="float:right;" /></div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                            </div>
                            <div class="clearfix visible-sm visible-xs"><br /><br /></div>
                            <div class="col-md-9 col-sm-12">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger saveChanges" disabled="disabled">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>
<!-- jQuery (necessary for Bootstrap's and Primate JavaScript plugins) -->
<script src="../static/js/jquery-1.11.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/ZeroClipboard.js"></script>

<!--Jquery UI-->
<script src="/static/js/jquery-ui.js"></script>

<!-- Include custom JS files as needed -->
<script src="/static/js/primate.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
