            
			<div class="row">
                <div class="col-md-12">
                    <br />
                    <h1>{{ group }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="writeMain">
                    {% for group in sessionData.getGroups() %}
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <span data-toggle="popover" data-placement="bottom" title="Notes">{{ group }}</span>
                                    </div>
                                    <div class="col-xs-5">
                                        <p class="text-right" style="margin-bottom: 0px"><a href="#" data-toggle="modal" data-target="#permissionsModal" style="color: #5bc0de"><span class="glyphicon glyphicon-user"></span></a>&nbsp;&nbsp;&nbsp;<a href="#" id="addUserButton" data-toggle="modal" data-target="#createUserModal" style="color: #5bc0de"><span class="glyphicon glyphicon-plus"></span></a>&nbsp;&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#redditModal" style="color: #5bc0de"><span class="glyphicon glyphicon-edit"></span></a></p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <h4></h4>
                                {% for record in sessionData.vault.records %}
                                {% if record._get_group() in group %}
                                <p>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <a href="#"><span class="glyphicon glyphicon-user toggleCopy"></span></a> <a href="#" id="{{ record._get_uuid() }}" class="passwordLink">{{ record._get_title() }}</a>
                                        </div>
                                        <div class="col-md-1 btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">  <span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a target="_blank" href="http://{{ record._get_url() }}"><span class="glyphicon glyphicon-link"></span> Open URL</a></li>
                                                <hr>
                                                <li><a href="#" id="text-to-copy" data-clipboard-text="{{ record._get_user() }}"><span class="glyphicon glyphicon-file"></span> Copy Username</a></li>
                                                <li><a href="#" id="text-to-copy" data-clipboard-text="{{ record._get_passwd() }}"><span class="glyphicon glyphicon-file"></span> Copy Password</a></li>
                                                <li><a href="#" id="text-to-copy" data-clipboard-text="{{ record._get_url() }}"><span class="glyphicon glyphicon-file"></span> Copy URL</a></li>
                                                <hr>
                                                <li><a href="#" onclick="loginDropDown(this,'view')"><span class="glyphicon glyphicon-eye-open"></span> View</a></li>
                                                <li><a href="#" onclick="loginDropDown(this,'edit')"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                                                <li><a href="#" onclick="loginDropDown(this,'move')"><span class="glyphicon glyphicon-move"></span> Move</a></li>
                                                <li><a href="#" onclick="loginDropDown(this,'delete')"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="writeMain ui-sortable">
                    <!-- Instagram -->
                    <!-- Add -->
                    <div class="col-md-4">
                        <div class="panel panel-default" style="border-style: dashed !important">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <span data-toggle="popover" data-placement="bottom" title="" data-content="" data-original-title="Notes">Create Group</span>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <h4 class="text-center">
                                    <a href="#" data-toggle="modal" data-target="#createGroupModal" data-original-title="" title="">
                                        <span class="glyphicon glyphicon-plus" data-original-title="" title=""></span>
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>